@import "tailwindcss";

:root {
  background-color: #f3f2f5;
  color: #34333f;
  font-family: "Inter Variable", sans-serif;
  letter-spacing: -0.025em;
}

.main-container {
  min-height: 100dvh;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.upload-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 600px;
  overflow: hidden;
  padding: 24px 26px;
  border: 1px solid #e7eae9;
}

.upload-container h1 {
  font-weight: 600;
  font-size: 20px;
}

form {
  width: 100%;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

input[type="file"] {
  display: none;
}

form label {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border: 2px dashed #e7eae9;
  border-radius: 8px;
  margin-top: 28px;
  transition: background-color 0.3s;
}

form label:hover {
  background-color: #e6f0ff;
  border: 2px dashed #007bff;
}

form span {
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}

.add-icon {
  color: #e7eae9;
  font-size: 75px;
}

form label:hover .add-icon {
  color: #007bff;
}

.submit-btn {
  color: white;
  cursor: pointer;
  background-color: #0865f5;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  width: 142px;
}

.loading-btn {
  color: white;
  cursor: pointer;
  background-color: #0865f5;
  opacity: 50%;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  width: 142px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

button {
  outline: none;
  user-select: none;
}

.active-json {
  color: black;
  background-color: #fdf9e0;
  border: 1px solid #f5e693;
  border-radius: 6px;
  padding: 16px 28px;
  font-size: 13px;
  font-weight: 500;
}

.inactive-json {
  background-color: white;
  padding: 16px 28px;
  border: 1px solid #e7eae9;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  &:hover {
    background-color: #ededed;
  }
}

.json-image {
  background-image: url("https://i.imgur.com/6wCiy9P.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1;
  height: 25px;
}

.tabla-btn {
  border: 1px solid #e7eae9;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  width: 142px;
  &:hover {
    background-color: #ededed;
  }
}

.tema-style {
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
}
